################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Core/obj
/Domain/bin/Debug/netcoreapp3.1
/Domain/obj
/Core/bin/Debug/netcoreapp3.1
/FlytexpressBI/bin/Debug/netcoreapp3.1
/FlytexpressBI/obj
/Infrastructure/bin/Debug/netcoreapp3.1
/Infrastructure/obj
/Infrastructure/Infrastructure - Backup.csproj
/.vs
/FlytexpressBI/.vs/FlytexpressBI
/Application/bin/Debug/netcoreapp3.1
/Application/obj
/ExportData
/Application/bin/Release/netcoreapp3.1
/Core/bin/Release/netcoreapp3.1
/Domain/bin/Release/netcoreapp3.1
/Infrastructure/bin/Release/netcoreapp3.1
/FlytexpressBI/.config
/FlytexpressBI/bin/Release/netcoreapp3.1/log
/FlytexpressBI/bin/Release/netcoreapp3.1/Properties
/FlytexpressBI/bin/Release/netcoreapp3.1
/FlytexpressBI/Properties/PublishProfiles
/BiUnitTest
